.LoginContainer {
  /* margin: calc((85% - 300.8px) / 4) auto; */
  width: 32%;
  margin: 6rem auto auto auto;
}
@media screen and (max-width: 1350px) {
  .LoginContainer {
    /* margin: calc((85% - 300.8px) / 4) auto; */
    width: 70%;
  }
}
